<!DOCTYPE html>
<html lang="en">
<head>
  <title>Juke</title>
  <link href="/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
  <link href="/bootstrap-dark.css" rel="stylesheet" />
  <link href="/style.css" rel="stylesheet" />
</head>
<body ng-app ="juke" >
  <div id="main" class="container-fluid" >

    <div class="col-xs-2">
      <sidebar>
        <img src="juke.svg" class="logo">
        <section>
          <h4 class="playlist-item active">
            <a href="#">ALBUMS</a>
          </h4>
        </section>
      </sidebar>
    </div>
   
    <div class="col-xs-10" >
      <div class="album" ng-controller="albumCtrl">
    <p>
        <h3>{{album.name}}</h3>
        <img src={{album.imageUrl}} class="img-thumbnail">
    </p>
    <table class='table'>
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Artist</th>
                <th>Genre</th>


            </tr>
        </thead>
        <tbody>
            <tr ng-repeat = "song in album.songs" ng-class='{active : currentSong == song}'>
                <td>
                    <button ng-click ='playAudio(song)' class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-play" ng-class='{"glyphicon-pause": playingSong == song._id}'></span>
                    </button>
                </td>
                <td>{{song.name}}</td>
                <td><span ng-repeat="artist in song.artists">{{artist.name}}{{$last?'' : ', '}}</span></td>
                <td> <span ng-repeat ="genre in song.genres">{{genre}}{{$last?'' : ', '}}</span></td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>

    <footer ng-controller = "playerCtrl">
      <div ng-hide='!currentSong'>
       <div class="pull-left">
        <button class="btn btn-default" ng-click ="prev()">
          <span class="glyphicon glyphicon-step-backward"></span>
        </button>
        <button class="btn btn-default">
          <span class="glyphicon glyphicon-play" ng-click="playAudio(currentSong)" 
          ng-class='{"glyphicon-pause": playingSong}'></span>
        </button>
        <button class="btn btn-default" ng-click ="next()">
          <span class="glyphicon glyphicon-step-forward"></span>
        </button>
        <button class="btn btn-default">
          <span class="glyphicon glyphicon-random"></span>
        </button>
      </div>
      <div class="bar">
        <div class="progress">
          <div class="progress-bar" ng-style="{width: progress + '%'}"></div>
        </div>
      </div>
    </div>
    </footer>

  </div>
  <script src='/angular/angular.js'></script>
  <script src='/albumCtrl.js'></script>
  <script src='/playerCtrl.js'></script>

</body>

</html>
